<!DOCTYPE html>
<html>
<head>
    <title>Video Uploaded Successfully</title>
</head>
<body>
    {% include 'navbar.html' %}
  
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">¸
                <h2 class="mt-4">Your video is being processed...</h2>
                <p class="lead">Thank you for using our video uploader. You can now access your uploaded videos and audio files.</p>
                <a href="{{ client_audios }}" class="btn btn-primary">View Available Downloads</a>
            </div>
        </div>
    </div>
    

</body>
</html>